APP_NAME=Feedback Intelligence System
APP_ENV=development
DEBUG=true

INPUT_DATA_PATH=data/Updated_App_Details_Reviews_Combined.csv
PROCESSED_DATA_PATH=data/processed_feedback.json

DATABASE_URL=sqlite:///./data/feedback.db

BATCH_SIZE=32
ML_LIMIT=5000

ML_MODEL_NAME=valhalla/distilbart-mnli-12-3

API_HOST=0.0.0.0
API_PORT=8000

DASHBOARD_PORT=8501